body
{
    margin: 0px;
    padding: 0px;
}
.background {
    background-image: url(Images/night-sky-stars.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.middle {
    margin-top: 2.5%;
}

.margin-top-form {
    margin-top: 5px;
}


