body
{
    margin: 0px;
    padding: 0px;
}
.background {
    margin: 0px;
    background-image: url(Images/night-sky-stars.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.middle {
    margin-top: 2.5%;
}

.margin-top-form {
    margin-top: 10px;
}
.black{
    color: black;
}
.red {
    color: red;
}

.btn-plus-home {
    font-size: 20px;
}

.navbar-transparent {
    border: none;
    background-color: transparent;
}

.margin-home {
    margin-right: 5px;
}

.whitos {
    background-color: #e7e7e7;
}

.italic {
    font-style: italic;
}

.non-bold {
    font-weight: 100;
}

.tache {
    min-height: 50px;
    max-height: 250px;
    overflow-y: scroll;
}
